{% extends "base.html" %}
{% block title %}Detalle usuario {{ user.username }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  <h4 class="center">Detalles usuario:</h4>
  <div class="divider black"></div><br>
  <div class="container">
  <ul class="collection">
  <li class="collection-item avatar">
        <i class="material-icons circle green">account_circle</i>
        <span class="title"><h5>{{ user.username }}</h5></span>
        <p>Nombre: {{ user.name }}<br>
           Apellido: {{ user.surname }}<br>
           Email: {{ user.email }}<br>
           Estado: {% if user.active %} Activo {% else %} Inactivo {% endif %}<br>
           Roles: |{%  for r in user.roles %} {{ r.name }} | {% endfor %}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      </ul>
      <form class="right" method="POST" action="{{ url_for('users.delete', user_id=user.id) }}"><a href="{{ url_for( 'users.list' ) }}" class="btn waves-effect waves-light">Volver</a><button class="btn waves-effect waves-light red darken-2" type="submit">Borrar</button></form>
      <br><br>
</div>
{% endblock %}
