header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* label color */
.input-field label {
   color: black;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: white;
